*{margin:0;padding:0;list-style-type:none;font-family:微软雅黑;}
a{text-decoration:none;color:#000;}


/*title*/
.body{
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	background:#FFF;
	border-bottom:1px #f6f6f6 solid;
	}
.body-title{
	text-align:center;
	}
.num{
	margin-left:10px;
	margin-right:10px;
	width:150px;
	border: 2px solid #eeeeee;
	font-size:14px;
	position: relative;
	line-height:40px;
	text-align: center;
	display:inline-block;
	}

/*bodys*/
.bodys{width:1150px;margin:0 auto;}
/*bodys*/

/*product*/
.bodys-pr{
	float:left;
	margin-top:20px;
	border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
	margin-right:5px;
	margin-left:5px;
	}
.bodys-pr .text{
	text-align:center;
	position:relative;
	background:rgba(0, 0, 0, 0.5);
	color:#FFF;
	margin-top:-45px;
	line-height:45px;
	height:45px;
	}
.bodys-pr img{
	-webkit-transition: .3s;
	transition: .3s;
  }
.bodys-pr:hover img{
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
	}
/*product*/

/*News*/
.News{
	width:1150px;
	margin:0 auto;
	padding-top:38px;
	padding-bottom:38px;
	height:151px;
	border-bottom:#eeeeee 1px solid;
	}
.News .img {
	float:left;
	display:inline-block;
	border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
	margin-right:5px;
	margin-left:5px;
	}
.News .img img{
	width:274px;
	height:151px;
	-webkit-transition: .3s;
	transition: .3s;
	}
.News .title{
	font-size:28px;
	color:#222222;
	}
.News .description{
	color:#666666;
	margin-top:20px;
	font-size:16px;
	line-height:28px;
	}
.News .text {
	float:right;
	width:850px;
	}
.News .dada {
	float:right;
	color:#eeeeee;
	font-size:28px;
	}
.News:hover .title{
	color:red;
	}
.News:hover .description{
	color:#000;
	}
.News img:hover {
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
	}